body {
  font-family: 'Bungee Hairline', cursive;
  background-color: #1b1b1b;
  color: rgba(255, 255, 255, 0.8);
}
body * {
  margin: 0px;
  padding: 0px;
}

section {
  padding: 40px 0px;
}

section.header {
  background-color: #232323;
  padding: 10px 0px;
}

p {
  font-size: 14px;
}

section.mid {
  text-align: center;
}

section.team {
  background-color: #232323;
}
section.team .teamphoto {
  padding: 0px 0px 20px 0px;
}

.iconsocial {
  width: 30px;
  margin-top: 15px;
}

.bigpiccontent {
  padding: 30px 0px;
}
.bigpiccontent img {
  max-height: 280px;
  padding: 20px 0px;
}

h1, h2, h3, h4 {
  color: white;
  font-weight: bold;
}

h2, h3, h4 {
  color: #93c535;
}

.clavus {
  margin-top: 10px;
  animation: 0.5s clavuszoom infinite alternate;
}

@keyframes clavuszoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
/** LIGHTBOX MARKUP **/
.lightbox {
  /** Default lightbox to hidden */
  display: none;
  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;
  /** Unhide lightbox **/
  display: block;
}
